<h1>New movie</h1>

<% form_for(@movie) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :autocomplete => "off" %>
  </p>
  <div id="selected_movie">
    <%# render :partial => "selected_movie" %>
  </div>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%# link_to 'Back', movies_path %>
<%= link_to "Back", :action => "index" %>

<script type="text/javascript" charset="utf-8">
  function selectItem (li) {
  	if (li.selectValue){
      // $.ajax({
      //         type: "GET",
      //         url: "auto_complete_for_movie_details",
      //         dataType: "script",
      //         data: "q=" + li.selectValue
      //       });
      $('#selected_movie').load('auto_complete_for_movie_details', {q:li.selectValue});
  	}
  }

  $(document).ready(function() {
    $("input#movie_title").autocomplete("auto_complete_for_movie_title", { minChars:3, onItemSelect:selectItem });
  });
</script>