<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Movies: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'layout_2col_right_13' %>
<%= stylesheet_link_tag 'jquery.autocomplete' %>
<!-- <link href="css/layout_2col_right_13.css" rel="stylesheet" type="text/css"/> -->

<%= javascript_include_tag "jquery" %>
<%# javascript_include_tag "jquery-ui.js" %>
<%= javascript_include_tag 'dyve_autocomplete' %>
<%# javascript_include_tag 'jquery-autocomplete/jquery.autocomplete', 
      'jquery-autocomplete/lib/jquery.bgiframe.min', 
      'jquery-autocomplete/jquery.autocomplete', 
      :cache => 'jquery' %>

<!--[if lte IE 7]>
<link href="css/patches/patch_2col_right_13.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>

<body>
<div class="page_margins">
  <div class="page">
    <div id="header">
      <div id="topnav">
        <!-- start: skip link navigation -->
        <a class="skip" href="#navigation" title="skip link">skip to navigation</a><span class="hideme">.</span>
        <a class="skip" href="#content" title="skip link">skip to content</a><span class="hideme">.</span>
        <!-- end: skip link navigation -->
        <span><%= logged_in? ? link_to("Logout", logout_path) : link_to("Login", login_path) %> | <%= link_to "Signup", signup_path unless logged_in? %></span> </div>
        <h1><%= controller.class.name.gsub("Controller", "") %></h1>
        <span><%= controller.action_name %></span>
      </div>
    <!-- begin: main navigation #nav -->
    <div id="nav">
      <!-- skiplink anchor: navigation -->
      <a id="navigation" name="navigation"></a>
      <div class="hlist">
        <ul>
          <li><a href="/">List Movies</a></li>
          <li><%= link_to 'New movie', new_movie_path %></li>
          <li><a href="2col_left_31.html">Previous Example</a></li>
        </ul>
      </div>
    </div>
    <!-- end: main navigation -->
    <!-- begin: main content area #main -->
    <div id="main">
      <!-- begin: #col1 - first float column -->
      <div id="col1">
        <div id="col1_content" class="clearfix"> <a id="content" name="content"></a>
          <p style="color: green"><%= flash[:notice] || flash[:error]%></p>
          <!-- skiplink anchor: Content -->
          <%= yield  %>
        </div>
      </div>
      <!-- end: #col1 -->
      <!-- begin: #col3 static column -->
      <div id="col3">
        <div id="col3_content" class="clearfix">
          <h2>Column  #col3</h2>
            <%= yield(:side) || "Type in a movie title" %>
        </div>
        <div id="ie_clearing">&nbsp;</div>
        <!-- End: IE Column Clearing -->
      </div>
      <!-- end: #col3 -->
    </div>
    <!-- end: #main -->
    <!-- begin: #footer -->
    <div id="footer">Footer with copyright notice and status information<br />
Layout based on <a href="http://www.yaml.de/">YAML</a></div>
    <!-- end: #footer -->
  </div>
</div>
</body>
</html>
